:root {
  --main-bg: #fff6f2;
  --text-lg: #050594;
  --text-copy: #202020;
  --accent: #ff4747;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main-bg);
}


.arrows {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  bottom: 20px;
}

#down1 {
  border-left: 2px solid;
  border-bottom: 2px solid;
  width: 15px;
  height: 15px;
  color: var(--text-lg);
  transform: rotate(-45deg);
}
#down2 {
  border-left: 2px solid;
  border-bottom: 2px solid;
  width: 15px;
  height: 15px;
  color: var(--accent);
  transform: rotate(-45deg);
  margin: auto 10px;

}
#down3 {
  border-left: 2px solid;
  border-bottom: 2px solid;
  width: 15px;
  height: 15px;
  color: var(--text-lg);
  transform: rotate(-45deg);

}


.name {
  font-family: pragmatica-extended, sans-serif;
  font-size: 4.7rem;
  color: var(--text-lg);
  font-weight: 900;
  margin-bottom: -20px;
  margin-top: -10px;
}

.name span {
  font-size: 0.8rem;
}


#about {
  display: flex;
  align-items: flex-start;
  justify-content: center;

}

.about-module {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.about-img {
  width: 35%;
}

.about-img img {
  width: 100%;
}

.about-text {
  width: 68%;
  color: var(--text-copy);
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;
  color: var(--text-lg);
}

.section {
  width: 100%;
  height: 100%;
  background-size:  cover;
  scroll-snap-align: start;
}

.work-item.section img {
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  width: 90%;
}

#contact {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#contact ul {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
  padding-left: 0;
}

#contact ul li {
  width: 49%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact ul li a {
  width: 100%;
  border: 1px solid var(--text-lg);
  color: var(--text-lg);
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
}

#contact ul li a:hover {
  border-color: var(--accent);
  color: var(--accent);
  font-style: italic;
}

.nav-toggle, .mobile-nav {
  display: none;
}

#work .title {
  margin-bottom: -50px;
  text-align: center;
}

.title {
  color: var(--accent);
  font-size: 2rem;
  font-family: pragmatica-extended, sans-serif;
}

#work-piece {
  height: auto;
  min-height: 90vh;
  width: 70vw;
  margin: auto;
  padding-top: 20vh;
}

.more-arrow {
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  color: var(--accent);
}

.work-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.work-item a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 20px;
  color: var(--accent);
  text-decoration: none;
}

.work-item > div {
  width: 90%;
  border: 2px solid;
  background-color: var(--main-bg);
}

.work-item > div > * {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.work-item > div h3 {
  font-family: pragmatica-extended, sans-serif;
}

.work-item > div p {
  color: var(--text-copy);

}

@media screen and (min-width: 767px) {
  .work-item {
    width: 50%;
    margin: auto;
  }
  #about {
    align-items: center;
  }
}

@media screen and (max-width: 1500px) {
  .name {
    font-size: 4.1rem;
  }
}

@media screen and (max-width: 1200px) {
  .about-module {
    width: 80%;
  }

}

@media screen and (max-width: 500px) {
  #about {
    align-items: center;
  }
  .about-module {
    width: 95%;
    flex-direction: column-reverse;
    margin-top: 00px;
  }
  .about-img {
    width: 70%;
  }
  .about-text {
    width: 100%;
  }
  .name {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 25px;
  }

  .work-row {
    flex-direction: column;
    width: 100%;
  }
  .work-item {
    width: 100%;
  }
  #contact ul {
    flex-direction: column;
    width: 95%;
    height: auto;
    margin-top: 50px;
  }
  #contact ul li {
    width: 100%;
    margin-bottom: 10px;
  }
  .work-page .nav-toggle {
    display: none;
  }
  .work-page .desk-tab-nav {
    display: block;
    margin-right: 2%;
  }
  .work-page .mobile-nav {
    display: none;
  }
  #work-piece {
    padding-top: 70px;
    width: 100%;
  }

  .work-item img {
    width: 100%;
    max-width: 100%;
  }
}
